@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Gabriela&text=%26%C2%A7|PT+Mono);

body {
    /*font-family: 'Droid Serif';*/
    font-family: 'Bitter';
}
h1, h2, h3, h4, h5 {
    /*font-family: 'Yanone Kaffeesatz';*/
    font-family: 'Droid Serif';
    font-weight: normal;
    line-height: 1;
    margin: 0.5em 0;
}

blockquote{
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  color: #666;
  text-align: justify;
  font-style: italic;

  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  /*font-family: Georgia, serif;*/
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

.remark-code, .remark-inline-code {
    font-family: "PT Mono",Monaco,Menlo,Consolas,"Courier New",monospace;
    border-radius: 5px;
    font-size: 16px;
}
.remark-inline-code {
    background-color: #ddd;
    padding: 0 5px 3px 5px;
}
